.mailing {
}

.header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.5rem;
}

.title {
  font-size: 1.5rem;
}

.newMailing {
  color: #fff;
  padding: 16px 36px;
  border-radius: var(--borderRadius, 0.25rem);
  background: #000;

  &:hover {
    background: #000000e9;
    cursor: pointer;
  }
}
