.analyst{
  display: flex;
  flex-direction: column;
  padding-right: 84px;
  padding-top: 120px;
  width: 100%;
  max-width: 1452px;
  margin-left: auto;
  overflow-y: scroll;
  max-height: 100vh;
  padding-bottom: 40px;
}